body {
    justify-content: center;
    text-align: center;

    font-family: 'Open Sans';
    font-size: 15px;
    color: #828282;
}

body img {
    margin-top: 64px;
}

body h1 {

    font-family: 'Dosis';
    color: #3f3d56;
    font-weight: 500;
    font-size: 32px;

    margin-top: 32px;
    margin-bottom: 16px;
}

body h1 span{
   color: #EE24FF;
   font-weight: 700;
}

body p + p {
    width: 540px;

    margin: 32px auto 0; 

}

body p span {
    color: #3f3d56;
    font-weight: 700;
}

body #line {
    border-top: solid 1px #ECEFF2;
    width: 391px;
    margin: 64px auto;
    padding-top: 16px;
}

body a {
    text-decoration: none;
    color: #3f3d56;
    font-weight: 700;
    padding-top: 16px;
}

body a + a  {
    margin-left: 40px;
}

footer{
    position: relative; }


footer img{
    position: fixed;

    height: 70px;
    width: 100vw;

    bottom: 0;
    right: 0;

}